.ui-state-active, .ui-button:active, .ui-button.ui-state-active:hover, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active {
  border: 1px solid #23282d;
  background: #23282d;
  font-weight: normal;
  color: #ffffff; }

div[data-es-type='es_blocks'] {
  position: relative; }
  div[data-es-type='es_blocks']:hover [data-es-type='es_editor'] {
    display: block; }

div[data-es-type='es_editor'] {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  display: none;
  padding: 1px 8px;
  cursor: pointer;
  background: #fb883d; }
  div[data-es-type='es_editor'] a {
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    display: block; }

.es_options_cont {
  max-width: 721px; }

.es_add_group {
  margin-bottom: 15px; }

.es_textarea {
  width: 100%; }

.es_text {
  width: 100%; }

.es_field_label {
  font-size: 13px;
  color: #444; }

.es_field_desc {
  font-size: 13px;
  color: #444;
  margin-bottom: 7px; }

.es_meta_field {
  margin-bottom: 25px; }
  .es_meta_field > img {
    background: #f1f1f1;
    width: 184px;
    height: auto;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
    background: #eee; }

.es_tax_tabs a {
  background: #ddd;
  padding: 5px 10px;
  color: #444;
  text-decoration: none;
  display: inline-block;
  margin-right: 2px;
  outline: none;
  box-shadow: none; }
.es_tax_tabs > ul > li {
  display: inline-block; }
  .es_tax_tabs > ul > li > a.active {
    background: #b4b9be;
    color: #000; }
  .es_tax_tabs > ul > li > a.focus {
    background: #b4b9be;
    color: #000; }

.es-tab-body {
  display: none;
  width: 100%; }
  .es-tab-body.active {
    display: inline-block; }

.form-field img {
  max-width: 185px;
  border: 2px solid #ffffff;
  padding: 8px;
  box-sizing: border-box;
  background: #969696; }
.form-field textarea {
  border: 1px solid lightgray; }

.es-meta-radio label {
  margin: 0 20px 0 3px; }
.es-meta-radio input {
  margin: 2px 3px 0 0; }

.es-form-row {
  padding: 10px 14px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  background: #f1f1f1; }
  .es-form-row input {
    width: 100%;
    height: 34px; }
  .es-form-row textarea {
    width: 100%; }
  .es-form-row .acc-title {
    margin-bottom: 10px; }
  .es-form-row .acc-body {
    margin-bottom: 10px; }
  .es-form-row .acc-subtitle {
    margin-bottom: 10px; }

.es-section-id {
  font-weight: bold;
  margin-bottom: 9px; }

.ui-tabs.ui-tabs-vertical {
  padding: 0;
  width: 42em; }
  .ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none; }
  .ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 10em;
    background: #ccc;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid gray; }
    .ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
      clear: left;
      width: 100%;
      margin: 0.2em 0;
      border: 1px solid gray;
      border-width: 1px 0 1px 1px;
      border-radius: 4px 0 0 4px;
      overflow: hidden;
      position: relative;
      right: -2px;
      z-index: 2; }
      .ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
        display: block;
        width: 100%;
        padding: 0.6em 1em; }
        .ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
          cursor: pointer; }
      .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
        margin-bottom: 0.2em;
        padding-bottom: 0;
        border-right: 1px solid #ffffff; }
      .ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
        margin-bottom: 10px; }
  .ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px; }

button#es_add_group_butt {
  margin-bottom: 8px; }

.upload_image_button.button {
  background: linear-gradient(#ddd, #eee);
  color: #2c2c2c;
  height: 35px;
  padding: 0 34px;
  border: 1px solid #ccc;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: .025em;
  transition: all .4s;
  min-width: 139px;
  border-radius: 3px; }

.remove_image_button.button {
  background: #e91e63;
  color: #ffffff;
  height: 35px;
  padding: 0 15px;
  border: 1px solid #cf1957;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: .025em;
  transition: all .4s; }

/*# sourceMappingURL=es-style.css.map */
